<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="Spruko Technologies Private Limited">
		<meta name="keywords" content=" admin, admin template, html template, html5 template, bootstrap admin template, css templates, bootstrap 4 admin template, simple html templates, admin panel template, bootstrap dashboard template, admin dashboard template, simple bootstrap template, responsive html template, template admin bootstrap 4, html admin template, html dashboard template"/>
		<meta name="msapplication-TileColor" content="#8966f7">
		<meta name="theme-color" content="#b356d8">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<link rel="icon" href="/build/images/brand/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="/build/images/brand/favicon.ico" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- Title -->
		<title>Bailonline - {% block title %}{% endblock %}</title>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="/build/plugins/bootstrap/css/bootstrap.min.css">

       <!-- Custom scroll bar css-->
		<link href="/build/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

		<!-- Dashboard Css -->
		<link href="/build/css/dashboard.css" rel="stylesheet" />

		<!-- Dark Css -->
		<link href="/build/css/dark.css" rel="stylesheet" />

		<!-- Color Css -->
		<link id="color" href="/build/css/colors/color1.css" rel="stylesheet" />

		<!---Font icons css-->
		<link href="/build/css/icons.css" rel="stylesheet" />

		<link rel="stylesheet" href="/build/css/style.css">
	</head>

	<body>
		{% block content %}
		{% endblock %}
		<!-- JQuery min js -->
		<script src="/build/js/jquery-3.2.1.min.js"></script>

		<!-- JQuery Sparkline js -->
		<script src="/build/js/jquery.sparkline.min.js"></script>

		<!-- Selectize min js -->
		<script src="/build/js/selectize.min.js"></script>

		<!-- JQuery Tablesorter js -->
		<script src="/build/js/jquery.tablesorter.min.js"></script>

		<!-- Circle Progress js -->
		<script src="/build/js/circle-progress.min.js"></script>

		<!-- Star Rating js -->
		<script src="/build/plugins/rating/jquery.rating-stars.js"></script>

		<!--Bootstrap.min js-->
		<script src="/build/plugins/bootstrap/popper.min.js"></script>
		<script src="/build/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!-- Custom scroll bar js-->
		<script src="/build/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!--Peitychart js-->
		<script src="/build/plugins/peitychart/jquery.peity.min.js"></script>

		<!--Counters js-->
		<script src="/build/plugins/counters/counterup.min.js"></script>
		<script src="/build/plugins/counters/waypoints.min.js"></script>
	</body>
</html>