body > div .void-content {
    background-image: url("../images/brand/bail.jpeg");
    background-size: cover;
}

.log img{
    width: 30px;
    height: 30px;
}

.separator {
    height: 10vh;
}

.separator p {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}