{% extends "layouts/layout.html.twig" %}
{% block title %}Connexion{% endblock %}
	
{% block content %}
	<div class="h-100">
		<div class="d-flex justify-content-end m-0 align-items-center w-100 h-100">
			<div class="void-content m-0 p-0 w-50 h-100">
			</div>
			<div class="bg-light m-0 row d-flex justify-content-center align-items-center w-50 h-100">
				<div class="row w-80">
					<div class="col d-block mx-auto">
						<div class="row">
							<form method="POST" class="col-md-12">
								<h2 class="mb-4 text-dark font-weight-semibold" alt="logo">Se connecter</h2>
								<p class="fs-15 mb-2">Veuillez entrer votre email et votre mot de passe pour se connecter</p>
								<div class="form-group">
									<label class="form-label text-left text-dark" for="exampleInputEmail1">Email</label>
									<input type="email" name="email" class="form-control" id="exampleInputEmail1">
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="text-left text-dark form-label">Mot de passe</label>
									<input type="password" name="password" class="form-control" id="inputPassword3">
								</div>
								<div class="checkbox text-left mb-2">
									<div class="form-group">
										<input type="checkbox" id="checkbox-2">
										<label for="checkbox-2" class="text-dark">Se souvenir de moi</label>
									</div>
								</div>
								<div class="w-100">
									<button type="submit" class="btn btn-primary w-100">S'identifier</button>
								</div>

								<div class="separator mt-3 position-relative">
									<hr class="w-100 position-absolute">
									<p class="px-2 bg-light text-center text-dark position-absolute">Continuer avec</p>
								</div>
								<div class="log row mx-auto mt-3">
									<a href="/api/auth-google" class="col btn btn-light p-3 m-2 d-flex justify-content-center align-items-center border">
										<img src="build/images/brand/gmail.png" alt="gmail logo">
										<p class="m-0 px-2 text-dark fs-12">Google</p>
									</a>
									<a href="#" class="col btn btn-light p-3 m-2 d-flex justify-content-center align-items-center border">
										<img src="build/images/brand/fb.png" alt="facebook logo">
										<p class="m-0 px-2 text-dark fs-12">Facebook</p>
									</a>
									<a href="#" class="col btn btn-light p-3 m-2 d-flex justify-content-center align-items-center border">
										<img src="build/images/brand/x.png" alt="x logo">
										<p class="m-0 px-2 text-dark fs-12">Twitter</p>
									</a>
								</div>
								<div class="text-left text-center text-muted mt-3">
									Vous n'avez pas de compte? <a href="register.html">Creer un compte</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		document.querySelector("form").addEventListener("submit", async (e) => {
			e.preventDefault();

			// Convertir FormData en objet JS
			const formData = new FormData(e.target);
			const data = Object.fromEntries(formData.entries()); // { email: "...", password: "..." }
			// Envoi en JSON (Content-Type: application/json)
			const response = await fetch('/api/verify', {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify(data), // Convertit en chaîne JSON
			});
			const result = await response.json();
			console.log(result);
		});
	</script
{% endblock %}